.categ-main{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.categ-list-container{
  width: 100%;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.categ-list-container .card{
	margin:15px;
	background-color:white;
	padding:20px 20px;
	border-radius: 15px;
	-webkit-box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
	-moz-box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
	box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
}

.categ-list-container .card .head .categ-title{
	font-size:1.4em;
	font-weight: bold;
	text-transform: capitalize;
}

.categ-list-container .card .body{
	margin-top:25px;
}

.categ-list-container .card .body .categs{
	width:100%;
	font-size:1.2em;
}

.categ-list-container .card .body .categs tr td{
	padding: 15px 5px;
}

.categ-list-container .card .body .categs .categ{
	text-transform: capitalize;
}

.categ-list-container .card .body .categs .price{
	text-align:right;
}
