<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>
<main class="categ-main">
  <div class="categ-list-container">
    <div class="card" ng-repeat="categ in categs">
      <div class="head">
        <span class="categ-title">{{ categ.label }}</span>
      </div>
      <div class="body">
        <table class="categs">
          <tbody>
            <!--<tr ng-repeat="categ in destn.categs">
              <td class="categ"> {{ categ.points }} </td>
              <td class="price"> {{ categ.desc }} </td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
