<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="app-ctrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="./assets/fontawesome/css/all.min.css">
		<link rel="stylesheet" href="./app/app.tpl.css">
    <link rel="stylesheet" href="./app/shared/sidenav/sidenav.css">
    <link rel="stylesheet" href="./app/shared/navbar/navbar.css">

    <link rel="stylesheet" href="./app/components/back/login/login.css">
    <link rel="stylesheet" href="./app/components/back/dashboard/dashboard.css">
    <link rel="stylesheet" href="./app/components/back/destn/destn.css">
		<link rel="stylesheet" href="./app/components/back/destnDtls/destnDtls.css">
    <link rel="stylesheet" href="./app/components/back/driver/driver.css">
    <link rel="stylesheet" href="./app/components/back/vehicle/vehicle.css">


		<title>Cotisse | {{ Page.title() }}</title>
	<head>
	<body>

		<div id="container" ng-view></div>

		<script src="./assets/js/jquery/jquery-3.4.1.min.js"></script>
		<script src="./assets/js/chart/chart-2.9.3.min.js"></script>
		<script src="./assets/js/angular/angular.min.js"></script>
		<script src="./assets/js/angular/angular-route.min.js"></script>
		<script src="./assets/js/angular/angular-cookies.min.js"></script>

		<script src="./app/app.js"></script>
		<script src="./app/app.fct.js"></script>
		<script src="./app/app.routes.js"></script>
		<script src="./app/app.ctrl.js"></script>

		<script src="./app/shared/sidenav/sidenav.ctrl.js"></script>
		<script src="./app/shared/navbar/navbar.ctrl.js"></script>

		<script src="./app/components/front/home/home.ctrl.js"></script>

		<script src="./app/components/back/login/login.ctrl.js"></script>
		<script src="./app/components/back/dashboard/dashboard.ctrl.js"></script>
		<script src="./app/components/back/destn/destn.ctrl.js"></script>
		<script src="./app/components/back/vehicle/vehicle.ctrl.js"></script>
		<script src="./app/components/back/destnDtls/destnDtls.ctrl.js"></script>
		<script src="./app/components/back/driver/driver.ctrl.js"></script>
		<script src="./app/components/back/category/category.ctrl.js"></script>
	</body>
</html>
