<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>
<main class="destn-main">
  <form class="destn-form">
    <div class="form-group">
        <label for="destn-departure">Departure</label>
        <select id="destn-departure" ng-model="destn.idDeparture">
          <option ng-repeat="city in cities" value="{{ city.idCity }}">{{ city.label }}</option>
        </select>
    </div>
    <div class="form-group">
      <label for="destn-arrival">Arrival</label>
      <select id="destn-arrival" ng-model="destn.idArrival">
        <option ng-repeat="city in cities" value="{{ city.idCity }}">{{ city.label }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="destn-categ">Category</label>
      <select class="categ" id="destn-categ"  ng-model="destn.idCateg">
        <option ng-repeat="categ in categs" value="{{ categ.idCateg }}">{{ categ.label }}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="destn-price">Price</label>
        <input type="text" ng-model="destn.price">
    </div>
    <button class="" ng-click="insert()">Insert</button>
  </form>
</main>
