<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>

<main class="destn-main">
    <div class="destn-search">
      <form class="destn-search-form">
        <div class="form-group">
          <label for="search-departure">Departure</label>
          <input id="search-departure" type="text" name="" value="">
        </div>
        <div class="form-group">
          <label for="search-arrival">Arrival</label>
          <input id="search-arrival" type="text" name="" value="">
        </div>
        <button class="btn" type="button" name="button">Search</button>
        <button class="btn" type="button" name="button">Edit</button>
      </form>
    </div>
    <div class="destn-list-container">
      <div class="card" ng-repeat="destn in destns">
        <div class="head">
          <span class="departure">{{ destn.departure }}</span><span class="arrival"> {{destn.arrival}} </span>
        </div>
        <div class="body">
          <table class="categs">
            <tbody>
              <tr ng-repeat="categ in destn.categs">
                <td class="categ"> {{ categ.idDestn }} </td>
                <td class="price">Ar {{ categ.price }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</main>
