.destn-main{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.destn-list-container{
  width: 100%;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  /*margin-top:20px;
  padding:30px 20px;*/
}

.destn-list-container .card{
	margin:15px;
	background-color:white;
	padding:20px 20px;
	border-radius: 15px;
	-webkit-box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
	-moz-box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
	box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
}

.destn-list-container .card .head .departure::after{
	content: " - ";
}

.destn-list-container .card .head .departure,.arrival{
	font-size:1.4em;
	font-weight: bold;
	text-transform: capitalize;
}

.destn-list-container .card .body{
	margin-top:25px;
}

.destn-list-container .card .body .categs{
	width:100%;
	font-size:1.2em;
}

.destn-list-container .card .body .categs tr td{
	padding: 15px 5px;
}

.destn-list-container .card .body .categs .categ{
	text-transform: capitalize;
}

.destn-list-container .card .body .categs .price{
	text-align:right;
}

/* SEARCH */
.destn-search{
  background-color: #fff;
  padding: 25px 15px;
  border-radius: 15px;
	-webkit-box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
	-moz-box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
	box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
}

.destn-search{
  margin-bottom: 30px;
}

.destn-search form{
  display: flex;
}

.destn-search .destn-search-form .form-group{
  margin-right: 10px;
}

.destn-search .destn-search-form .btn{
  margin-right: 10px;
}

.destn-search .destn-search-form .btn:last-of-type{
  margin-right: 0;
}

.destn-search-form .form-group select, .destn-search-form .form-group input{
  padding: 0;
}

/* EDIT */
.destn-form{
  padding:30px 20px;
  border-radius:15px;
  display: flex;
}

.destn-form .form-group{
  display: flex;
  margin-right: 30px;
}

.destn-form .form-group label{
  color: #888da8;
  margin-right: 10px;
	font-size: 1.4em;
}

.destn-form .form-group input{
	text-align:right;
}

.destn-form .form-group select{
  width: 100%;
}

.destn-form .form-group select,select option{
	text-transform: capitalize;
}

.destn-form .form-group select,input{
	border:none;
	background-color:transparent;
	border-bottom:1px solid var(--color-slate-gray);
	font-size:1.1em;
	color: var(--color-inactive);
}

.destn-form .form-group select,input:focus{
	outline:none;
}

.destn-form button{
	border:1px solid var(--color-slate-gray);
	border-radius: 15px;
	color:#fff;
	font-size: 1.1em;
	padding: 5px 10px;
	background-color:var(--color-slate-gray);
}

.destn-form button:hover{
	border: 1px solid var(--color-slate-gray);
	color: var(--color-slate-gray);
	background-color: #fff;
}
