.driver-main{
    display: grid;
    grid-template-columns: repeat(var(--col-no), 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.driver-container{
	grid-column: 2 / 12;
  grid-row: 1;
	margin-top: 50px;
}

.driver-form{
	width:100%;
	display:flex;
  justify-content: center;
  background-color: white;
  padding:30px 20px;
  border-radius:15px;
}

.driver-form form{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.driver-form .form-group{
	margin-right: 20px;
}

.driver-form .form-group label{
	font-size: 1.3em;
	color: #888da8;
	padding-right:10px;
}

.driver-form .form-group input{
	border:none;
	background-color:transparent;
	border-bottom:1px solid var(--color-slate-gray);
	font-size:1.2em;
	color: var(--color-inactive);
}

.driver-form .form-group input:focus{
	outline:none;
}

.driver-form button{
	border:1px solid var(--color-slate-gray);
	border-radius: 15px;
	color:#fff;
	font-size: 1.1em;
	padding: 5px 10px;
	background-color:var(--color-slate-gray);
}

.driver-form button:hover{
	border: 1px solid var(--color-slate-gray);
	color: var(--color-slate-gray);
	background-color: #fff;
}

.driver-list{
	width:100%;
  display:flex;
  justify-content: center;
  margin-top:20px;
  border-radius:15px;
  padding:30px 20px;
  flex-wrap: wrap;
}

.driver-list .card{
	margin:15px;
	background-color:white;
	padding:20px 20px;
	border-radius: 15px;
	-webkit-box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
	-moz-box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
	box-shadow: 15px 4px 30px -9px rgba(189,189,189,1);
  width:275px;
}

.driver-list .card .body{
	margin-top:25px;
  display: flex;
  justify-content: center;
}

.driver-list .head .profile{
  font-size: 8em;
  text-align: center;
  color: var(--color-slate-gray);
}

.driver-name{
  text-align: center;
  font-size: 1.6em;
}

.driver-name span:first-of-type::after{
  content: ' ';
}

.driver-dets{
  font-size: 1.2em;
}

.driver-det td{
  padding: 5px;
}
