<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>
<main class="driver-main">
	<div class="driver-container">
		<div class="driver-form">
			<form>
				<div class="form-group">
					<label>First Name</label>
					<input type="text" ng-model="driver.frstName">
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" ng-model="driver.lastName">
				</div>
				<div class="form-group">
					<label>email</label>
					<input type="text" ng-model="driver.email">
				</div>
				<div class="form-group">
					<label>Phone number</label>
					<input type="text" ng-model="driver.num">
				</div>
				<button ng-click="insert()">Insert</button>
			</form>
		</div>
		<div class="driver-list">
			<div class="card" ng-repeat="driver in drivers">
        		<div class="head">
        			<div class="profile"><i class="fa fa-user"></i></div>
        			<div class="driver-name">
        				<span class="">{{ driver.frstName }}</span><span class="">{{ driver.lastName }}</span>
        			</div>
        		</div>
        		<div class="body">
        			<table class="driver-dets">
        				<tbody>
        					<tr class="driver-det">
        						<td class=""> Email </td>
        						<td class="driver-email"> {{ driver.email }} </td>
        					</tr>
        					<tr class="driver-det">
        						<td class=""> Phone </td>
        						<td class="driver-num"> {{ driver.num }} </td>
        					</tr>
        				</tbody>
        			</table>
        		</div>
        	</div>
			<!--
			<table>
				<thead>
					<th>#</th>
					<th>Name</th>
					<th>State</th>
				</thead>
				<tbody>
					<tr ng-repeat="driver in drivers">
						<td>..</td>
						<td>{{ driver.fsrtName }}</td>
						<td>{{ driver.state }}</td>
					</tr>
				</tbody>
			</table>
			-->
		</div>
	</div>
</main>
