<main class="login-tpl">
	<div class="login-left">
		<h1>Cotisse Transport | Administrator</h1>
	</div>
	<div class="login-right">
		<div class="login-form">
			<form>
				<div class="login-item">
					<label for="login-email">Email</label>
					<input id="login-email" type="text" ng-model="user.email">
					<div></div>
					<div class="line-active"></div>
				</div>
				<div class="login-error">{{ error.email }}</div>
				<div class="login-item">
					<label for="login-pwd">Password</label>
					<input id="login-pwd" type="password" ng-model="user.pwd" autocomplete="on">
					<div></div>
					<div class="line-active"></div>
				</div>
				<div class="login-error">{{ error.pwd }} {{ error.gnrl }}</div>
				<button type="submit" ng-click="signIn()">Log In</button>
			</form>
			<!--<div class="login-signUp-prop">
				Doesn't have an account? <a href="#">Sign Up</a>
			</div>-->
		</div>
	</div>
</main>
