.login-tpl{
    grid-column: 1 / span var(--col-no);
    grid-row: 1;

    display: grid;
    grid-template-columns: repeat(var(--col-no), 1fr);
    grid-auto-rows: minmax(100px, auto);
}

/**           Left panel          **/
.login-left{
    grid-column: 1 / span 8;
    grid-row: 1;
    height: 100vh;

    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.3) 100%), url(../../../../assets/img/login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: white;
}

/**           Right panel          **/
.login-right{
    grid-column: 9 / span var(--col-no);
    grid-row: 1;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.login-form form{
    width: 60%;
}

.login-item{
    position: relative;
}

.login-item label{
    display: block;
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%,0);
    color: var(--color-inactive);
    /*z-index: -1;*/
}

.login-item label:hover{
    cursor: text;
}

.login-item{
    margin-top: 40px;
}

.login-item:first-child{
    margin-top: 0;
}

.login-item input{
    width: 100%;
    font-size: 1.3em;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.login-item input:focus{
    outline: none;
}

.login-item div{
    position: absolute;
    width: 100%;
    background-color: var(--color-inactive);
    height: 2px;
}

.login-item .line-active{
    width: 0;
    background-color: var(--color-slate-gray);
    height: 2px;
}

.login-form form button{
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: #fff;
    border: 2px solid var(--color-slate-gray);
    border-radius: 35px;
    background-color: var(--color-slate-gray);
    /*background-color: #0f9aee;
    background-color: #d39e00;
    background-color: #0A3366;
    background-color: #040404;*/
}

.login-form form button:hover{
    cursor: pointer;
    color: var(--color-slate-gray);
    border-color: var(--color-slate-gray);
    background-color: rgba(0, 0, 0, 0);
}

.login-error{
    color: red;
    padding-top: 10px;
    min-height: 20px;
}

.login-signUp-prop{
    margin-top: 20px;
}

@keyframes inputFocusIn{
    0%{
        top: 50%;
    }
    25%{
        color: rgba(0, 0, 0, 0);
    }
    50%{
        top: -50%;
    }
    100%{
        top: -50%;
        color: #464646;
    }
}

@keyframes inputFocusOut{
    0%{
        top: -50%;
    }
    25%{
        color: rgba(0, 0, 0, 0);
    }
    50%{
        top: 50%;
        transform: translate3d(0,-50%,0);
    }
    100%{
        top: 50%;
        transform: translate3d(0,-50%,0);
        color: var(--color-inactive);
    }
}

@keyframes lineFocusIn {
    from{
        width:0;
    }
    to{
        width:100%;
    }
}

@keyframes lineFocusOut{
    from{
        width:100%;
    }
    to{
        width:0;
    }
}