.destnDts-main{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* FORM */
.destnDts-container{
  width: 75%;
}

.destnDets-search{
  padding:25px 0;
  border-radius: 10px;
  background-color: #fff;
}

.destnDets-search form {
  display: flex;
  justify-content:center;
  flex-wrap:
}

.destnDets-search .form-group{
  margin-right: 20px;
  width: 20%;
}

.destnDets-search .form-group:last-of-type{
  margin-right: 0;
  width: auto;
}

.destnDets-search form .form-group label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.destnDets-search .form-group label, .destnDets-search .form-group input, .destnDets-search .form-group select{
  display: block;
  width: 100%;
}

.destnDets-search .form-group input, .destnDets-search .form-group select{
  font-size: 1.2em;
}

.destnDets-search form .btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
  border-radius: 0;
  padding: 7px 20px;
}
/* LIST*/
.destnDets-block{
  background-color: #fff;
  width: 100%;
  display: flex;
  margin-top: 50px;
  border-radius: 10px;
}
.destnDets-block .destnDets-categ, .destnDets-block .destnDets-place{
  width: 25%;
}

.destnDets-categ{
  display: flex;
  align-items: flex-end;
  font-size: 1.6em;
}

.destnDets-categ-price{
  padding-left: 10px;
  padding-bottom: 10px;
}

.destnDets-block .destnDets-mainInfo{
  width: 50%;
}

.destnDets-dest{
  display: flex;
  justify-content: center;
  align-items: center;
}

.destnDets-departure, .destnDets-arrival{
  font-size: 1.6em;
  text-transform: capitalize;
}

.destnDets-direction{
  font-size: 4em;
  padding: 25px 150px;
}

.destnDets-time{
  margin-top: 20px;
}

.destnDets-seats{
  margin-bottom:20px;
}

.destnDets-time, .destnDets-seats{
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}

/* EDIT */

.destnDts-form-container{
  width: 30%;
}

.destnDts-form-insert .form-group label, .destnDts-form-insert .form-group input, .destnDts-form-insert .form-group select{
  display: block;
  width: 100%;
}

.destnDts-form-insert form .form-group{
  margin-bottom: 20px;
}
.destnDts-form-insert form .form-group:last-of-type{
  margin-bottom: 0;
}

.destnDts-form-insert form .form-group label{
  display: block;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.destnDts-form-insert .form-group input, .destnDts-form-insert .form-group select{
  font-size: 1.2em;
}

.destnDts-form-insert form .btn{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  padding: 15px 0;
}
