<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>
<main class="destnDts-main">
  <div class="destnDts-form-container">
    <div class="destnDts-form-insert">
      <form>
        <div class="form-group">
          <label for="">Destination <span class="error">{{ error.destination }}</span></label>
          <select ng-model="destnDets.idDestn" ng-change="getCateg()">
            <option ng-repeat="destn in destns" value="{{ destn.idDestn }}">{{ destn.departure }} - {{ destn.arrival }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Departure <span class="error">{{ error.departure }}</span></label>
          <input type="text" ng-model="destnDets.departureDate" value="" placeholder="yyyy-mm-dd hh:mm:ss">
        </div>
        <div class="form-group">
          <label>Arrival <span class="error">{{ error.arrival }}</span></label>
          <input type="text" ng-model="destnDets.arrivalDate" value="" placeholder="yyyy-mm-dd hh:mm:ss">
        </div>
        <div class="form-group">
          <label for="">Category</label>
          <select ng-model="category" ng-change="getVehAndPrice()">
            <option ng-repeat="categ in categs" value="{{ categ.idCateg }}">{{ categ.idDestn }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Price <span class="error">{{ error.price }}</span></label>
          <input type="text" ng-model="destnDets.destnPrice">
        </div>
        <div class="form-group">
          <label for="">Vehicle <span class="error">{{ error.vehicle }}</span></label>
          <select ng-model="destnDets.idVehicle">
            <option  ng-repeat="vehicle in vehicles" value="{{ vehicle.idVehicle }}">{{ vehicle.regNb }}</option>
          </select>
        </div>
        <button class="btn" type="button" ng-click="insert()">Add destination</button>
      </form>
    </div>
  </div>
</main>
