<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>
<main class="destnDts-main">
  <div class="destnDts-container">
    <div class="destnDets-search">
      <form>
        <div class="form-group">
          <label for="">Departure</label>
          <select ng-model="destnDetsSearch.idDeparture">
            <option ng-repeat="city in cities" value="{{ city.idCity }}">{{ city.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Arrival</label>
          <select ng-model="destnDetsSearch.idArrival">
            <option ng-repeat="city in cities" value="{{ city.idCity }}">{{ city.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Departure Date</label>
          <input type="text" ng-model="destnDetsSearch.departureDate" placeholder="yyyy-mm-dd">
        </div>
        <div class="form-group">
          <label>&nbsp</label>
          <button class="btn" type="button" ng-click="searchDestnDets()"><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
    <div class="destnDets-list">
      <div class="destnDets-block" ng-repeat="destnDets in listDestnDets">
        <div class="destnDets-categ">
          <span class="destnDets-categ-price">Ar {{ destnDets.destnPrice }}</span>
        </div>
        <div class="destnDets-mainInfo">
          <div class="destnDets-time">Departure: {{ destnDets.time }}</div>
          <div class="destnDets-dest">
            <div class="destnDets-departure">{{ destnDets.departure }}</div>
            <div class="destnDets-direction"><i class="fas fa-angle-double-right"></i> </div>
            <div class="destnDets-arrival">{{ destnDets.arrival }}</div>
          </div>
          <div class="destnDets-seats">Seats available: 12</div>
        </div>
        <div class="destnDets-place"></div>
      </div>
    </div>
  </div>
</main>
