<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>
<main class="veh-edit-main">
    <div class="veh-edit-form">
      <form>
        <div class="form-group">
          <label>Driver</label>
          <select ng-model="vehForm.idUsers">
            <option ng-repeat="driver in drivers" value="{{ driver.idUser }}">{{ driver.frstName }} {{ driver.lastName }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Brand</label>
          <select ng-model="vehForm.idBrand">
            <option ng-repeat="brand in brands" value="{{ brand.idBrand }}">{{ brand.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Registration number</label>
          <input ng-model="vehForm.regNb" placeholder="1678TBA">
        </div>
        <div class="form-group">
          <select ng-model="vehForm.idCateg" ng-change="setPlace(vehForm.idCateg)">
          <label for="">Category</label>
            <option ng-repeat="categ in categs" value="{{ categ.idCateg }}">{{ categ.label }}</option>
          </select>
        </div>
        <button class="btn" ng-click="insert()">Add vehicle</button>
      </form>
    </div>
    <div class="veh-edit-place">
      <div class="veh-edit-place-title">Vehicle Chairs</div>
      <table class="veh-edit-chair">
        <tbody>
          <tr class="veh-row-chair" ng-repeat="rows in listChairs">
            <td class="veh-chair" ng-repeat="columns in rows"><button class="btn-chair " ng-click="changeState(columns.id)" ng-value="{{ columns.id }}">{{ columns.num }}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</main>
