.veh-main{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.veh-container{
  width: 75%;
}

.veh-list-container{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.veh-list{
  margin: 40px 20px;
  width: 90%;
  border-collapse: collapse;
}

.veh-list thead tr{
  border-bottom: 1px solid var(--color-inactive);
  text-align: left;
}

.veh-list tbody tr{
  border-bottom: 1px solid var(--color-inactive);
}

.veh-list tbody tr:last-of-type{
  border-bottom: none;
}

.veh-list thead tr th{
  padding: 15px;
}

.veh-list tbody tr td{
  padding: 20px;
}

/* VEHICLE EDIT CSS */

.veh-edit-main{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(var(--col-no), 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.veh-edit-form{
  grid-column: 1/7;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.veh-edit-form form{
  width:50%;
}

.veh-edit-form form .form-group{
  margin-bottom: 20px;
}
.veh-edit-form form .form-group:last-of-type{
  margin-bottom: 0;
}

.veh-edit-form form .form-group label{
  display: block;
  margin-bottom: 10px;
}
.veh-edit-form form .form-group select,input{
  display: block;
  width: 100%;
}

.veh-edit-form form .btn{
  margin-top: 20px;
  width: 100%;
  padding: 15px 0;
}

.veh-edit-place{
  grid-column: 7/13;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.veh-edit-place-title{
  font-size: 1.4em;
  font-weight: bold;
  color: var(--color-slate-gray);
  margin-bottom: 20px;
}

.veh-chair .btn-chair{
  color: var(--color-slate-gray);
  background-color: rgba(0,0,0,0);
  width: 70px;
  height: 70px;
}

.veh-chair .btn-chair{
  outline: none;
}

.chair-inactive{
  color: var(--color-slate-gray);
  background-color: var(--color-slate-gray) !important;
}
