<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>
<main class="veh-main">
    <div class="veh-container">
        <div class="veh-form-container">
            <form class="veh-form">
                <!--
                <label for="departure">Departure:</label>
                <select id="departure">
                	<option ng-repeat="city in cities" value="{{ city.idCity }}">{{ city.label }}</option>
                </select>
                <label for="arrival">Arrival:</label>
                <select id="arrival">
                	<option ng-repeat="city in cities" value="{{ city.idCity }}">{{ city.label }}</option>
                </select>
                <select class="categ" id="class">
                	<option ng-repeat="categ in categs" value="{{ categ.idCateg }}">{{ categ.label }}</option>
                </select>
                <input type="text">
                <button class="">Insert</button>
                 -->
            </form>
        </div>
        <div class="veh-list-container">
            <table class="veh-list">
                <thead>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Category</th>
                    <th>Reg Number</th>
                    <th>State</th>
                </thead>
                <tbody>
                    <tr ng-repeat="veh in vehicles">
                        <td>{{ veh.frstName }}</td>
                        <td>{{ veh.lastName }}</td>
                        <td>{{ veh.label }}</td>
                        <td>{{ veh.regNb }}</td>
                        <td>{{ veh.state }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
