:root{
    --col-no: 12;
    --color-inactive: #a5a5a5;
    --color-slate-gray: #566591;
    --color-solitude: #F1F2F6;
}

@font-face {
    font-family: Montserrat-black;
    src: url(../assets/font/montserrat/Montserrat-black.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../assets/font/montserrat/Montserrat-Light.ttf) format('truetype')
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../assets/font/roboto/Roboto-Medium.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/font/montserrat/Montserrat-Medium.ttf) format('truetype')
}


body{
    margin: 0;
}

#container{
    width:100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--col-no), 1fr);
    grid-auto-rows: minmax(100px, auto);
}



.form-group label{
  color: #888da8;
	font-size: 1.3em;
}

.form-group select,select option{
	text-transform: capitalize;
}

.form-group select,input{
	border:none;
	background-color:transparent;
	border-bottom:1px solid var(--color-slate-gray);
	font-size:1.1em;
  color: var(--color-inactive);
  padding: 10px 0;
  padding-left: 5px;
}

.form-group input::placeholder{
  color: var(--color-inactive);

}

.form-group select,input:focus{
	outline:none;
}

button{
	border:1px solid var(--color-slate-gray);
	border-radius: 10px;
	color:#fff;
	font-size: 1.1em;
	padding: 5px 10px;
	background-color:var(--color-slate-gray);
}

button:hover{
	border: 1px solid var(--color-slate-gray);
	color: var(--color-slate-gray);
	background-color: #fff;
}

.error{
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1em;
  color: red;
}
/*background-color: #0f9aee;
background-color: #d39e00;
background-color: #0A3366;
background-color: #040404;*/
