.sidenav-inc{
	grid-column: 1 / 3;
    grid-row: 1;
}

.sidenav{
    background-color:var(--color-slate-gray);
    height:100vh;
    position:sticky;
    top:0px;
}

main{
    grid-column: 3 / span var(--col-no);
    grid-row: 1;
    background-color:var(--color-solitude);
}

.sidenav .sidenav-title{
    height: 8%;
	color: var(--color-solitude);
    font-size: 1.9em;
    font-family: Roboto-Medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-items ul{
	list-style:none;
	padding-left:0;
}

.sidenav-item a, .sidenav-subitem-title, .sidenav-subitem a{
	color:var(--color-solitude);
	font-size:1.4em;
	text-decoration:none;
	display: block;
    padding: 20px;
}

.sidenav-item a:hover{
	background-color: #66739e;
}


.sidenav-item a i, .sidenav-subitem-title i:first-of-type, .sidenav-subitem a i{
	padding-right:20px;
}

.sidenav-subitem-title{
	position: relative;
}

.sidenav-subitem-title i:last-of-type{
	position:absolute;
	right:20px;
	font-size:1.3em;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.sidenav-subitem-title a{
	padding-bottom: 15px;
}

.sidenav-subitem a{
    padding: 15px 70px;
}

.sidenav-dropdown:hover{
	cursor: pointer;
}

.submenu{
	display: none;
	/*height:0;
	opacity:0;
	overflow: hidden;*/
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.submenu-show{
	height:100%;
	/*opacity:1*/
	display: block;
}

.sidenav-subitem-title-rotate{
	transform: rotateZ(180deg);
}
