<nav class="sidenav" ng-controller="sidenav-ctrl">
	<div class="sidenav-title">Cotisse Transport</div>
	<div class="sidenav-items">
		<!--<ul>
			<li class="sidenav-item"><a href="#!/admin/dashboard"><i class="fa fa-chart-line"></i>Dashboard</a></li>
			<li class="sidenav-item"><a href="#!/admin/journey"><i class="fa fa-route"></i>Journey</a></li>
			<li class="sidenav-item"><a href="#!/admin/journeyDtls"><i class="fa fa-route"></i>Journey details</a></li>
			<li class="sidenav-item"><a href="#!/admin/vehicle"><i class="fa fa-bus"></i>Vehicle</a></li>
			<li class="sidenav-item"><a href="#!/admin/driver"><i class="fa fa-car"></i>Driver</a></li>
			<li class="sidenav-item"><a href="#!/admin/categories"><i class="fa fa-sleigh"></i>Categories</a></li>
		</ul>-->
		<ul>
			<li class="sidenav-item"><a href="#!/admin/dashboard"><i class="fa fa-chart-line"></i>Dashboard</a></li>
			<li class="sidenav-item"><a href="#!/admin/categories"><i class="fa fa-sleigh"></i>Categories</a></li>
			<li class="sidenav-item"><a href="#!/admin/driver"><i class="fa fa-address-card"></i>Driver</a></li>
			<li class="sidenav-dropdown">
				<div class="sidenav-subitem-title"><i class="fa fa-bus"></i>Vehicle<i class="dropdown-icon fa fa-angle-up"></i></div>
				<ul class="submenu">
					<li class="sidenav-subitem"><a href="#!/admin/vehicle/list"><i class="fa fa-list"></i>List</a></li>
					<li class="sidenav-subitem"><a href="#!/admin/vehicle/edit"><i class="fa fa-edit"></i>Edit</a></li>
				</ul>
			</li>
			<li class="sidenav-dropdown">
				<div class="sidenav-subitem-title"><i class="fa fa-route"></i>Destination<i class="dropdown-icon fa fa-angle-up"></i></div>
				<ul class="submenu">
					<li class="sidenav-subitem"><a href="#!/admin/destn/list"><i class="fa fa-list"></i>List</a></li>
					<li class="sidenav-subitem"><a href="#!/admin/destn/edit"><i class="fa fa-edit"></i>Edit</a></li>
				</ul>
			</li>
			<li class="sidenav-dropdown">
				<div class="sidenav-subitem-title"><i class="fa fa-road"></i>Destination Details<i class="dropdown-icon fa fa-angle-up"></i></div>
				<ul class="submenu">
					<li class="sidenav-subitem"><a href="#!/admin/destnDets/list"><i class="fa fa-list"></i>List</a></li>
					<li class="sidenav-subitem"><a href="#!/admin/destnDets/edit"><i class="fa fa-edit"></i>Edit</a></li>
				</ul>
			</li>
			<li class="sidenav-item"><a ng-click="deconnection()"><i class="fa fa-sign-out-alt"></i>Log out</a></li>
		</ul>
	</div>
</nav>
