<ng-include class="sidenav-inc" src="'./app/shared/sidenav/sidenav.html'"></ng-include>
<main class="dashboard-main">
	<div class="chart-container">
		<canvas id="chart-2"></canvas>
	</div>
	<div class="chart-container">
		<canvas id="chart-1"></canvas>
	</div>
	<div class="chart-container">
		<canvas id="chart-3"></canvas>
	</div>
	<div class="chart-container">
		<canvas id="chart-4"></canvas>
	</div>
</main>