.dashboard-main{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.chart-container{
	width:40%;
	margin:10px 10px;
	padding:20px 40px;
	background-color:white;
	border:1px solid white;
	border-radius: 10px;
}